*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: coral;
}
a{
    text-decoration: none;
}
nav span{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    margin-left: 50px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}
.sidebar{
    width: 250px;
    text-align: center;
    font-family: arial;
    padding: 50px 0;
    height: calc(100vh - 40px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.35s;
}
.show{
    transform: scaleX(1);
}
.sidebar ul li a{
    color: brown;
    display: block;
    padding: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}